@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

.Dash {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F202D !important;
    font-family: 'Raleway', sans-serif;
    /*justify-content: center;*/
}

.nav-link{
    background-color: #172534;
    color: #bdbdbd;
    border: 0 !important;
    margin-right: 10px;
    color: grey;
}

.nav-tabs{
    border: 0 !important;
}

.nav-link:hover{
    background-color: #172B3A;
    border: 0 !important;
    color: grey;
}

.nav-link:focus, .nav-link:active{
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.tab-content{
    width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #172B3A;
    color: white;
    border: 0;
}

.Dashboard-Tabs{
    width: 100%;
    padding: 10px 0px 0px 10px;
    border: 0;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


a{
    color: #ffee65;
}

a:hover{
    color: #ffee65;
}

.App-Box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #172B3A;
    padding-top: 10px;
    color: white;
}
